body {
    display: flex;
    flex-direction: column !important;
    background-image: url("/api/background");
    align-items: center;
}

.container {
    width: 25rem !important;
    padding: 1rem !important;
    background-color: white;
    border-radius: 12px;
    margin: 1rem;
}

h1,
h2,
h3,
h4,
h5,
hr,
button,
input,
p,
textarea {
    margin: 1rem !important;
    outline: none;
}

button,
input,
p,
textarea {
    background-color: #1877f2;
    border: none;
    border-radius: 6px !important;
    color: #fff;
    flex-grow: 1;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 36px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 6px;
    min-width: 185px;
    padding: 0 16px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #e4e6eb;
    color: #050505;
    font-size: 15px;
    transition: 0.3s;
}

button:active {
    background-color: #ccccce;
}

input,
p,
textarea {
    background-color: #e4e6eb;
    color: rgb(44, 44, 44);
    padding: 9px 16px;
}

hr {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

textarea::-webkit-scrollbar {
    width: 0;
}

#snackbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.snackbar-close {
    margin-left: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.snackbar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    visibility: hidden;
    background-color: rgb(57, 57, 57);
    margin-bottom: 20px;
    color: #eaeaea;
    text-align: center;
    border-radius: 12px;
    padding: 0 16px !important;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 13px;
    height: 36px;
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.05);
    box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.05);
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}